## Attributes in the context:
## blog - Blog - Current blog
## prefix - String - URL path up to, and including, username
## dateFormat - DateFormat - for displaying Date instances
<html>
<head>
	<title>$blog.formattedTitle</title>
<style>
#set( $bordercolor = "rgb(100%,50%,30%)" )
body {
	font-family: Garamond, Georgia, Times New Roman, serif;
}
div.blogcontent {
	xfont-family: monospace;
}
div.blogcategory {
	margin-top: 1em;
}
</style>
</head>

<body>
<h1>$blog.formattedTitle</h1>

<div class="blogcontent">
$blog.formattedContent
</div>

<div class="blogcategory">
${dateFormat.format($blog.lastUpdated)} &ndash; 
<a href="$prefix$blog.category.repository.rootCategory.urlPath">$blog.category.repository.owner</a><br/>
<br/>
<a href="$prefix$blog.category.urlPath">$blog.category.name</a>
</div>

</body>
</html>
