<% $current_page = 'Acceptable Use Policy' %>
<?php require_once 'config.php'; ?>
<html>
<%= scope.function_template(['vuln_parameterised_website/subtemplates/header.php.erb']) %>
<body>
  <%= scope.function_template(['vuln_parameterised_website/subtemplates/navbar.php.erb']) %>
  <%= scope.function_template(['vuln_parameterised_website/subtemplates/acceptable_use_policy.php.erb']) %>
  <%= scope.function_template(['vuln_parameterised_website/subtemplates/scripts.php.erb']) %>
</body>
</html>