<% $current_page = 'Intranet Home' %>
<?php require_once 'config.php'; ?>

<html>
<%= scope.function_template(['vuln_parameterised_website/subtemplates/header.php.erb']) %>
<body>
  <%= scope.function_template(['vuln_parameterised_website/subtemplates/navbar.php.erb']) %>
  <%= scope.function_template(['vuln_parameterised_website/subtemplates/main_container.php.erb']) %>
  <%= scope.function_template(['vuln_parameterised_website/subtemplates/scripts.php.erb']) %>
</body>
</html>