[Unit]
Description=Elastalert
After=elasticsearch.service

[Service]
Environment="HTTP_PROXY="
Environment="HTTPS_PROXY="
Environment="http_proxy="
Environment="https_proxy="
Type=simple
WorkingDirectory=/opt/elastalert
ExecStart=/usr/bin/python3 -m elastalert.elastalert --verbose --config /opt/elastalert/config.yaml
Restart=always
User=aaa_admin
Group=aaa_admin

[Install]
WantedBy=multi-user.target